@import '../../styles/variables.module.scss';


.header__container {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  height: 60px;
  top: 24px;
  padding: 0 0 24px 0;
  border-bottom: 1px solid $medium-gray;
  box-sizing: border-box; 
  
}

.header__content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 
    "logo center date";
  align-items: center;
  height: 36px;

 
}

.header__welcome {
  font-size: $font-size-large;
  grid-area: center; 
}

.header__date {
  font-size: $font-size-medium;
  grid-area: date;
  text-align: right;
  color: lighten($color: #000000, $amount: 50);
}

.header__logo {
  grid-area: logo;
  display: flex;
  height: 36px;
}

@media(max-width: $mobile){

  .header__container{
    height: 114px;
  }
  .header__content{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; 
    gap: 8px;
  }

  .header__logo, .header__welcome, .header__date {
    grid-column: auto;
    grid-row: auto;
  }

  .header__logo {
    grid-row: 1; 
  }

  .header__welcome {
    grid-row: 2; 
    font-size: $font-size-medium;
  }

  .header__date {
    grid-row: 3; 
    text-align: left;
  }
}


@media (max-width: $mobile-small){
  .header__container{
    height: 120px;
  }
}