// Cores
$primary-color: #0796D3;    
$secondary-color: #53C0F0;
$tertiary-color: #EAECF0;
$quaternary-color: #E7EEFB;
$white: #FFFFFF;            
$medium-gray: #D7DDE9; 
$red: #D30707;
$dark-red: #F05353;
$black: #000000;


$font-family-default: 'Inter Tight', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$font-size-small: 0.5rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;

// Espaçamentos
$spacing-large: 29.04px;
$spacing-medium: 19.36px;


// Breakpoints para dispositivos
$mobile-small: 468px;
$mobile: 853px;

